<div class="text-primary font-body"> <!-- Serve as body -->

    <div class="grid md:grid-cols-6">
        <div class="md:col-span-1 md:flex md:justify-end"> <!-- Content wrapper -->
            <nav class="text-right"> <!-- Start NAV -->
                <div class="flex justify-between items-center">
                    <h1 class="font-bold uppercase p-4 border-b border-info ">
                        <a href="/" class="hover:text-secondary">Food Ninja</a>
                        <!--   <a href="/" class="text-green-500 sm:text-red-500 lg:text-blue-500">Food Ninja</a>  -->
                    </h1>

                    <div class="px-4 cursor-pointer md:hidden" id="burger" (click)="toggle()">
                        <!--  https://heroicons.com/ -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                        </svg>
                    </div>
                </div>
                <ul class="text-sm mt-6 hidden md:block" id="menu" *ngIf="showMenu">
                    <li class="text-secondary font-bold p-3 border-r-4 border-primary">
                        <a href="#" class="px-4 flex justify-end hover:text-secondary hover:bg-secondary ">
                            <span>Home</span>
                            <svg class="w-5 ml-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                            </svg>

                        </a>
                    </li>
                    <li class="p-3">
                        <a href="#" class="px-4 flex justify-end hover:text-secondary-100 hover:bg-secondary">
                            <span>About</span>
                            <svg class="w-5 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                            </svg>

                        </a>
                    </li>
                    <li class="p-3">
                        <a href="#" class="px-4 flex justify-end hover:text-secondary-100 hover:bg-secondary">
                            <span>Contact</span>
                            <svg class="w-5 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </nav>
        </div> <!-- End NAV -->

        <main class="px-16 py-6  md:col-span-5">
            <div class="flex justify-center md:justify-end">
                <label class="flex cursor-pointer gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="5" />
                        <path
                            d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4" />
                    </svg>
                    <input type="checkbox" value="{{default_theme}}" (click)="switchTheme()" class="toggle" />
                     <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                    </svg>
                   
                  
                </label>
                
                <a href="#" class="text-primary btn border-primary md:border-2 hover:bg-primary hover:text-white 
            transition ease-out duration-500"> Log in</a>
                <a href="#" class="text-primary ml-2 btn border-primary md:border-2 hover:bg-primary hover:text-white 
          transition ease-out duration-500"> Sign up</a>
            </div>
            <router-outlet></router-outlet>
        </main>
    </div>

</div>