<div>
  
    <div class="flex items-start ">
        <div class="bg-red-500 h-4 w-6"></div>
        <div class="bg-blue-500 h-8 w-6"></div>
        <div class="bg-green-500 h-12 w-6"></div>
    </div>
    <header>
        <h2 class="text-secondary text-6xl"> Recipes</h2>
        <h2 class="text-2xl font-semibold"> For Ninjas</h2>
    </header>

    <div>
        <h4 class=" font-bold mt-12 pb-2 border-b border-gray-200">Latest
            Recipes</h4>
        <div class="mt-8 grid lg:grid-cols-3 gap-10">
            <!-- cards go here  -->
            <div class="card">
                <img src="assets/images/burger.png" alt="burger" class="w-full h-32 sm:h-48 object-cover" />
                <div class="m-4">
                    <span class="font-bold">4 Bean Chilli Stew</span>
                    <span class="block text-gray-500 text-sm">Recipe by Mario</span>
                </div>
                <div class="badge">
                    <svg class="w-5 inline-block p-1" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <span>24 mins</span>
                </div>
            </div>
            <div class="card hover:shadow-lg">
                <img src="assets/images/rosted_chicken.png" alt="rosted_chicken"
                    class="w-full h-32 sm:h-48 object-cover" />
                <div class="m-4">
                    <span class="font-bold">rosted_chicken</span>
                    <span class="block text-gray-500 text-sm">Recipe by Mario</span>
                </div>
                <div class="badge">
                    <svg class="w-5 inline-block p-1" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <span>24 mins</span>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/fast-food-meal.webp" alt="fast food"
                    class="w-full h-32 sm:h-48 object-cover" />
                <div class="m-4">
                    <span class="font-bold">4 fast-food-meal</span>
                    <span class="block text-gray-500 text-sm">Recipe by Mario</span>
                </div>
                <div class="badge">
                    <svg class="w-5 inline-block p-1" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <span>24 mins</span>
                </div>
            </div>
        </div>

        <h4 class="font-bold mt-12 pb-2 border-b border-gray-200">Most
            popular</h4>
        <div class="mt-8">
            <!-- cards go here -->
        </div>
        <div class="flex justify-center">
            <div class="bg-secondary-100 p-2 text-secondary-200 btn hover:shadow-inner 
      transform hover:scale-125 hover:bg-opacity-50 ease-out duration-300">
                Load More</div>
        </div>
    </div>
</div>